/* reset de estilinhos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonte */
@font-face {
    font-family: 'Poppins-Bold';
    src: url('Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* estilinho */
body {
    font-family: 'Poppins-Bold', sans-serif;
    background-color: #ffffff;
    padding: 20px;
}

.header {
    text-align: left;
    margin-bottom: 20px;
}

.title {
    display: inline-block;
    margin-right: 10px; 
}


.location-icon {
    color: #79C61E; 
    font-size: 15px;
    vertical-align: middle; 
}



.circle {
    width: 100px;
    height: 100px;
    background-color: #d3dadf;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 20px;
}

.info {
    margin-top: -100px;
    text-align: right; /* alinhar o texto na direita */
    margin-right: 20px;
}

.rectangle {
    width: 40px; /* largura */
    height: 20px; /* altura*/
    background-color: #d3dadf;
    border-radius: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; /* começando do lado direito */
    margin-right: 0;
}

.rating {
    font-size: 12px; /* tamanho do 4.9 */
}

.star {
    font-size: 12px; /* tamanho da estrela */
    color: rgb(0, 0, 0);
    margin-left: 3px; /* espaço entre o numero e a estrela */
}


.viagens {
    text-align: left;
    color: #043F2D;
}

.rectangle2 {
    width: 370px; 
    height: 135px; 
    margin-top: 18px;
    background-color: #d3dadf;
    border-radius: 5%;
    margin-left: 10px;
    padding: 20px; /* espaço interno */
}

.rectangle2 p {
    margin: 5px 0; /* espaço entre as linhas */
    text-align: left; /* alinha na esquerda */
    color: black;
}
